body {
    background: rgb(126, 126, 218);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: white;
}

section {
    background: white;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(30, 30, 100);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 5px;
}