body {
    background: rgb(85, 57, 8);
    text-align: center;
}

#header {
    background: black;
    width: 400px;
    color: red;
    margin: auto;
    border-radius: 15px;
}

#externa {
    background: rgba(141, 81, 28, 0.624);
    width: 900px;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
}

#vez {
    background: black;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    color: red;
}

#winner {
    background: black;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    color: red;
}

#tabuleiro {
    background: black;
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
}

.casa {
    background: white;
    width: 120px;
    height: 120px;
    display: inline-table;
    border-radius: 10px;
    margin: 5px;
    color: black;
    font-size: 70pt;
}

.jogo {
    display: inline-table;
}

#char {
    font-size: 35pt;
}

#player {
    font-size: 20pt;
}

#win {
    font-size: 20pt;
}

#charwin {
    font-size: 35pt;
}
